<div class="wrapper">
    <div class="card">
        <h4>Enter email and password</h4>
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" #productForm="ngForm"></form> -->
        <form formGroup="loginForm" (ngSubmit)="logIn()">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email" required />
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" required />
            </div>
            <!-- <button type="submit" [disabled]="!form.valid">Submit</button> -->
            <button type="submit">Log in</button>
        </form>
    </div>
</div>